<a href="https://colab.research.google.com/github/Nikhil14091997/ML-ZoomCamp/blob/main/Week_1_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 import pandas as pd
 import numpy as np

In [2]:
np.__version__

'1.19.5'

In [3]:
pd.__version__

'1.1.5'

In [4]:
dataset = pd.read_csv('data.csv')
dataset.tail()

          Make   Model  Year  ... city mpg  Popularity   MSRP
11909    Acura     ZDX  2012  ...       16         204  46120
11910    Acura     ZDX  2012  ...       16         204  56670
11911    Acura     ZDX  2012  ...       16         204  50620
11912    Acura     ZDX  2013  ...       16         204  50920
11913  Lincoln  Zephyr  2006  ...       17          61  28995

[5 rows x 16 columns]

What's the average price of BMW cars in the dataset?

In [5]:
df = dataset.groupby('Make')
series = df.get_group('BMW').mean()
series.MSRP

61546.76347305389

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [6]:
df_1 = dataset[dataset['Year'] >= 2015]
df_1['Engine HP'].isnull().sum()

51



```
Calculate the average "Engine HP" in the dataset.
Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
Now, calcualte the average of "Engine HP" again.
Has it changed?
Round both means before answering this questions. You can use the round function for that:
```

In [8]:
mean_hp_before = dataset['Engine HP'].mean()
dataset['Engine HP'].fillna(mean_hp_before, inplace=True)
mean_hp_after = dataset['Engine HP'].mean()
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249



```
Select all the "Rolls-Royce" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
What's the sum of all the elements of the result?
Hint: if the result is negative, re-read the task one more 
```

In [42]:
rr_data = df.get_group('Rolls-Royce')
X = rr_data[["Engine HP", "Engine Cylinders", "highway MPG"]].drop_duplicates()
# dims of X is 7x3
X = X.values
XT = np.transpose(X)
#print(XT.shape)
#print(XT)
# dims for transpose of X should be 3x7
XTX = np.matmul(np.transpose(X), X)
#print(XTX.shape)
XTX = np.linalg.inv(XTX)
# XTX should be 3x3
print(np.sum(XTX))

0.032212320677486125



```
Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?.
```

In [41]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = np.dot(np.dot(XTX,np.transpose(X)), y)
print(w[0])

0.19989598183188978